@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --dark-navy: #1F314F;
    --grey: #7D889E;
    --light-grey: #D5E1EF;
    --white: #FFFFFF;
    --font: "Outfit", sans-serif;
}

body {
    background-color: var(--light-grey);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
}

.card {
    padding: 1em 1em 2.5em 1em;
    width: 100%;
    max-width: 20em;
    border-radius: 1.25em;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 0.625em;
}

.card-content {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.card-title {
    font-size: 1.375em;
    font-weight: 700;
    color: var(--dark-navy);
}

.card-text {
    color: var(--grey);
    letter-spacing: 0.19px;
    font-size: 15px;
}