@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --dark-navy: #1F314F;
    --grey: #7D889E;
    --light-grey: #D5E1EF;
    --white: #FFFFFF;
    --font: "Outfit", sans-serif;
}

body {
    background-color: var(--light-grey);
    font-family: var(--font);
}

img {
    max-width: 100%;
}

.card {
    padding: 1em 1em 2.5em 1em;
    width: 100%;
    max-width: 20em;
    border-radius: 1.25em;
    background-color: var(--white);
}

.card-img {
    border-radius: 0.625em;
}

.card-header {
    margin: 1.5em 0 1em 0;
}

.card